.overlay {
  position: fixed;
  right: 0;
  top: 0;

  z-index: 1;

  height: 100vh;
  width: 100vw;

  background-color: rgba(0, 0, 0, 0.35);
}

.productDetails {
  position: fixed;
  right: 0;
  top: 60px;

  z-index: 2;

  width: 50%;
  height: 100vh;

  padding: 10px;

  background-color: white;
  border: blue solid 1px;
}
