.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  max-width: 400px;
  justify-content: center;
  margin: 0 auto;
}

label {
  display: flex;
  width: 100%;
  justify-content: space-between;
  user-select: none;
  position: relative;
}

button {
  padding: 0.2rem 1rem;
}

.errorMessage {
  position: absolute;
  right: 0;
  top: 18px;
  font-size: 0.7rem;
  color: red;
}
